@model IEnumerable<TechCareerFair.Models.faq>

@{
    ViewBag.Title = "FAQ";
}

<!--Using code derived from W3schools
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol
    -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<section class="section faq-section">

    <h2>Frequently Asked Questions</h2>

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="answer">

                    <h2>Applicant Q&A</h2>

                    @foreach (TechCareerFair.Models.faq faq in ViewBag.Faq)
                    {
                        if (faq.IsApplicantQ)
                        {
                            <button class="accordion">@faq.Question</button>
                            <div class="panel"><p>@faq.Answer</p></div>
                        }
                    }

                </div><!--end applicant faq-->
            </div><!--end left column-->


            <div class="col-md-6">
                <div class="answer">

                    <h2>Business Q&A</h2>
                    @foreach (TechCareerFair.Models.faq faq in ViewBag.Faq)
                    {
                        if (!faq.IsApplicantQ)
                        {
                            <button class="accordion">@faq.Question</button>
                            <div class="panel"><p>@faq.Answer</p></div>
                        }
                    }

                </div><!--end business faq-->
            </div><!--end right column-->

        </div><!--end row-->
    </div><!--end container-->
</section>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
