@{
    ViewBag.Title = "Home Page";
}

<body>

    <section class="banner">

    </section>

    <section class="description">
        <div class="container">
            <div class="row">

                <!--homepage content-->
                <div class="col-md-9 col-sm-12">

                    <div class="home-page-details">
                        <h2>What is the career fair?</h2>
                    </div>
                    <!--gallery slide show-->
                    <div class="home-page-gallery">
                        <h2>career fair images</h2>
                    </div>
                    <!--pitch for career fair-->
                    <div class="home-page-pitch">
                        <div class="custom-col-6">
                            <div class="candidate">
                                <h3>Candidate</h3>
                            </div>
                        </div>
                        <div class="custom-col-6">
                            <div class="business">
                                <h3>Business</h3>
                            </div>
                        </div>
                    </div>

                </div>

                <!--homepage sidebar content-->
                <div class="col-md-3 col-sm-12">
                    <div class="sidebar-calender"><h3>Calender</h3></div>
                    <div class="sidebar-news"><h3>News & Events</h3></div>
                    <div class="sidebar-map"><h3>Location</h3><div>
                </div>

            </div> <!--row end-->
        </div><!--container end-->
    </section>

</body>