@{
    ViewBag.Title = "Home Page";
}

<body>

    <section class="banner">

    </section>

    <section class="description">
        <div class="container">
            <div class="row">

                <!--homepage content-->
                <div class="col-md-9 col-sm-12">

                    <div class="home-page-details">
                        <h2>What is the career fair?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                            Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <!--gallery slide show-->
                    <div class="home-page-gallery">
                        <h3>Technology Career Fair Images</h3>

                        <div class="carousel slide multi-item-carousel" id="theCarousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-xs-4">
                                        <a href="~/Content/Images/library.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 1">
                                            <img src="~/Content/Images/library.jpg" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4">
                                        <a href="~/Content/Images/library.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 2">
                                            <img src="~/Content/Images/library.jpg" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4">
                                        <a href="~/Content/Images/library.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 3">
                                            <img src="~/Content/Images/library.jpg" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4"><a href=""><img src="~/Content/Images/ship.jpg" class="img-responsive"></a></div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4"><a href=""><img src="~/Content/Images/students.jpg" class="img-responsive"></a></div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4"><a href=""><img src="~/Content/Images/sculpture.jpg" class="img-responsive"></a></div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                            <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>

                    </div>





                    <!--pitch for career fair-->
                    <div class="home-page-pitch">
                        <div class="custom-col-6">
                            <div class="candidate">
                                <h3>Candidate</h3>
                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                                </p>
                            </div>
                        </div>
                        <div class="custom-col-6">
                            <div class="business">
                                <h3>Business</h3>
                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--homepage sidebar content-->
                <div class="col-md-3 col-sm-12">

                    <div class="sidebar-calender">
                        <div id="calendar">
                            <h1>April</h1>
                            <table>
                                <tr><td class="lastmonth">30</td><td>1</td><td>2</td><td>3</td><td class="hastask">4</td><td>5</td><td>6</td></tr>
                                <tr><td>7</td><td>8</td><td class="hastask">9</td><td>10</td><td>11</td><td class="current">12</td><td>13</td></tr>
                                <tr><td>14</td><td class="hastask">15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td></tr>
                                <tr><td class="hastask">21</td><td>22</td><td>23</td><td>24</td><td>25</td><td class="hastask">26</td><td>27</td></tr>
                                <tr><td>28</td><td>29</td><td class="hastask">30</td><td>31</td><td class="nextmonth">1</td><td>2</td><td>3</td></tr>
                            </table>
                        </div>
                    </div>

                    <div id="sidebar-map">
                        <h3>Location</h3>
                        <script>
                            function initMap() {
                                var uluru = { lat: 44.7651, lng: -85.6064 };
                                var map = new google.maps.Map(document.getElementById('sidebar-map'), {
                                    zoom: 10,
                                    center: uluru
                                });
                                var marker = new google.maps.Marker({
                                    position: uluru,
                                    map: map
                                });
                            }
                        </script>
                        <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC68IwddGZVX8aN2HV60AriTVTePoGWvd0&callback=initMap">
                        </script>
                    </div>

                    <div class="sidebar-news">
                        <h3>News & Events</h3>
                    </div>

                </div>

            </div> <!--row end-->
        </div><!--container end-->
    </section>

</body>

<style>

        #calendar {
            font-family: 'Open Sans',sans-serif;
            text-align: center;
            color: #555;
            box-shadow: 0 0 50px -14px rgba(0,0,0,.8);
        }

    #sidebar-map {
        box-shadow: 0 0 50px -14px rgba(0,0,0,.8);
    }

        #calendar h1 {
            background: #008265;
            padding: 15px;
            margin: 0;
            font-size: 140%;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #fff;
            cursor: default;
            text-shadow: 0 0 10px rgba(0,0,0,.8);
        }

        #calendar table {
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-spacing: 0;
        }

        #calendar td {
            width: 38px;
            height: 38px;
            background: #eee;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 6px;
            cursor: pointer;
            transition: background .3s;
            -webkit-transition: background .3s;
        }

        #calendar td:hover:not(.current) {
           background: #ddd;
        }

        #calendar .lastmonth, #calendar .nextmonth, #calendar .nextmonth ~ * {
            background: #fff;
            color: #999;
        }

        #calendar .current {
            background: #008265;
            font-weight: 700;
            color: #fff;
            text-shadow: 0 0 10px rgba(0,0,0,.5);
        }

        #calendar .hastask {
            font-weight: 700;
        }

        #calendar tr:last-of-type td:first-of-type {
            border-radius: 0 0 0 5px;
        }

        #calendar tr:last-of-type td:last-of-type {
            border-radius: 0 0 5px 0;
        }

</style>