@{
    ViewBag.Title = "Home Page";
}

<body>

    <section class="banner">

    </section>

    <section class="description">
        <div class="container">
            <div class="row">

                <!--homepage content-->
                <div class="col-md-9 col-sm-12">

                    <div class="home-page-details">
                        <h2>What is the career fair?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                            Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <!--gallery slide show-->
                    <div class="home-page-gallery">
                        <h3>career fair images</h3>

                        <div class="carousel slide multi-item-carousel" id="theCarousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-xs-4">
                                        <a href="~/Content/Images/library.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 1">
                                            <img src="~/Content/Images/library.jpg" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4">
                                        <a href="~/Content/Images/library.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 2">
                                            <img src="~/Content/Images/library.jpg" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4">
                                        <a href="~/Content/Images/library.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Image 3">
                                            <img src="~/Content/Images/library.jpg" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4"><a href=""><img src="~/Content/Images/ship.jpg" class="img-responsive"></a></div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4"><a href=""><img src="~/Content/Images/students.jpg" class="img-responsive"></a></div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-4"><a href=""><img src="~/Content/Images/sculpture.jpg" class="img-responsive"></a></div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                            <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>

                    </div>





                    <!--pitch for career fair-->
                    <div class="home-page-pitch">
                        <div class="custom-col-6">
                            <div class="candidate">
                                <h3>Candidate</h3>
                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                                </p>
                            </div>
                        </div>
                        <div class="custom-col-6">
                            <div class="business">
                                <h3>Business</h3>
                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--homepage sidebar content-->
                <div class="col-md-3 col-sm-12">

                    <div class="sidebar-calender">
                        <h3>Calender</h3>
                    </div>

                    <div class="sidebar-news">
                        <h3>News & Events</h3>
                    </div>

                    <div id="sidebar-map">
                        <h3>Location</h3>
                    </div>

                </div>

                <script>
                    function initMap() {
                        var uluru = { lat: 44.7651, lng: -85.6064 };
                        var map = new google.maps.Map(document.getElementById('sidebar-map'), {
                            zoom: 10,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC68IwddGZVX8aN2HV60AriTVTePoGWvd0&callback=initMap">
                </script>
            </div> <!--row end-->
        </div><!--container end-->
    </section>

</body>