
@{
    ViewBag.Title = "Register Landing";
}

<div class="col-md-6">
    <h2>Register As Applicant</h2>
    <input type="button" value="Applicant Sign Up" class="btn btn-default" onclick="location.href='@Url.Action("Applicant", "Register")'"/>
</div>

<div class="col-md-6">
    <h2>Register As Business</h2>
    <input type="button" value="Business Sign Up" class="btn btn-default" onclick="location.href='@Url.Action("Business", "Register")'"/>
</div>

