
@{
    ViewBag.Title = "Register Landing";
}

<!--To Do: Make a css class for the grey box around the register options below-->
<div style="height: auto">
    <div style="background-color: lightgray; border-radius: 5px">
        <h2>Register As Applicant</h2>
        <input type="button" value="Applicant Sign Up" class="btn btn-default" onclick="location.href='@Url.Action("Applicant", "Register")'" />
    </div>
    <br/>
    <div style="background-color: lightgray; border-radius: 5px">
        <h2>Register As Business</h2>
        <input type="button" value="Business Sign Up" class="btn btn-default" onclick="location.href='@Url.Action("Business", "Register")'" />
    </div>
</div>

