body {
    padding-top: 50px;
    padding-bottom: 0px;
    color: white;
}

a{
    color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:150px;
    background-color:#777;
    padding-bottom:40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2,h3 {
    margin:0px;
    padding:0px;
}

/*
==========================================================
Header
==========================================================
*/

.social-link {
    height:25px;
    width:25px;
    border-radius:1%;
}

.container.top-menu-container {
    padding: 10px;
}
ul.top-menu-ul {
    display: inline-block;
    list-style: none;
    margin:0;
    padding: 0;
}

.col-xs-6.top-menu-links {
    text-align: right;
}
.nmc-career-fair-banner {
    height: 100px;
    width: 100%;
    background: #008265;
}
li.social-link {
    display: inline-block;
    text-align: right;
    color:#fff;
}
li.user-login {
    display: inline-block;
    text-align: right;
    position: relative;
    top: -3px;
    margin-left: 6px;
}
.nmc-logo-img{
    height:80px;
    width:auto;
    margin-top:10px;
}

.banner-h2 {
    margin: 0px;
    color: #fff;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}
a.nmc-home {
    position:relative;
    top:5px;
    color:#fff;

}
a.nmc-home:hover {
    color:#eee;
}
.navbar-nav {
    float:none;
    margin: 0;
    display: inline-block;
    margin: auto;
}
.main-navigation-links {
    display:inline-block;
    width:100px;
    text-align:center;
    margin:0 auto;
}
.user-login > a {
    color:#fff;
}

li.main-navigation-links {
    background:transparent;
}

li.main-navigation-links:hover {
    background:#777;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

li.main-navigation-links > a{
    background: transparent;
    color:#fff;
}

/*
==========================================================
    Home Page
==========================================================
*/

.home-page-details {
    height: 200px;
    background: #999;
    padding: 20px 20px;
    margin: 30px 0;
}

.home-page-details h2 {
    margin:0px;
}

.home-page-gallery {
    height: 200px;
    background: #999;
    padding: 20px 20px;
    margin: 30px 0;
}

.home-page-gallery h2 {
    margin:0px;
}

.candidate {
    height: 150px;
    background: #999;
    padding: 20px 20px;
    margin-right:15px;
}

.business {
    height: 150px;
    background: #999;
    padding: 20px 20px;
    margin-left:15px;
}

.custom-col-6{
    width:50%;
    margin:0px;
    display:inline-block;
    float:left;
}

/*
==========================================================
sidebar
==========================================================
*/
.sidebar-calender {
    height: 200px;
    background: #999;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-news {
    height: 200px;
    background: #999;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-map {
    height: 150px;
    background: #999;
    padding: 20px;
    margin-top: 30px;
}
/*
==========================================================
Footer
==========================================================
*/
footer.footer {
    background: #222222;
    color: #fff;
    height: 100px;
}

.copyright {
    margin:0px;
    float:right;
    padding-right: 20px;
    padding-top:5px;
}

.footer-menu {
    padding:10px 0;
    margin:0px;
    padding-right:0px;
    display:block;
    margin:0 auto;
    text-align:center;
}

ul.footer-socail-links {
    list-style: none;
    padding-top: 20px;
}

.footer-navigation-links {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
}

li.footer-navigation-links > a {
    background: transparent;
    color: #fff;
}

@media screen and (max-width:670px) {
    .footer-navigation-links {
        width: 70px;
    }
}
@media screen and (max-width:485px) {
    .footer-navigation-links {
        width: 60px;
        font-size:13px
    }
}

@media screen and (max-width:425px) {
    .footer-navigation-links {
        width: 60px;
        font-size: 13px
    }
}

@media screen and (min-width:320px) and (max-width:417px) {
    .footer-navigation-links {
        width: 60px;
        font-size: 13px
    }
    footer.footer {
        height:135px;
    }
    .banner-h2 {
        font-size:21px;
    }
}