<img src="~/Content/Images/Business/logo.png" />

 @using(Html.BeginForm("UploadFile", "UploadTest", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
    <span>Select a file: <input type="file" name="fileUpload" /></span>

    <input type="submit" value="Upload" />
 }